spring:
  application:
    name: autolot-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/autolotdb
    username: admin
    password: mypassword
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
