spring:
  application:
    name: autolot-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/autolotdb
    username: admin
    password: mypassword
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB


app:
  upload-dir: ./uploads

jwt:
  secret: 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
  expiration: 3600000   # 1 hour in ms